.loadingScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: #0d1117;
  animation: fadeLoading 1.5s linear;
  opacity: 0;
  pointer-events: none;

  .heroImgWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .heroWalker {
      animation: rotateWalker 1s ease-out;
    }
  }
}

@keyframes fadeLoading {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
