.skillWrapper {
  .name {
    font-size: 5rem;
    color: white;
    border-bottom: 2px solid #c5c3c6;
  }
  .skillList {
    padding: 2rem;
    list-style: square;
  }
  .skill {
    color: rgb(200, 200, 200);
    font-size: 2.5rem;
  }
}
